/* COLORS */
/* SIZES */
@-webkit-keyframes imageTranslation {
  from {
    background-position-x: 35%;
  }
  to {
    background-position-x: 78%;
  }
}

@-moz-keyframes imageTranslation {
  from {
    background-position-x: 35%;
  }
  to {
    background-position-x: 78%;
  }
}

@keyframes imageTranslation {
  from {
    background-position-x: 35%;
  }
  to {
    background-position-x: 78%;
  }
}

.register-page, .register-page article, .register-form, .register-form form div, .register-form button span, .mobile-apps, .home-buttons, .download-page, .download-page article, .info-download-video, .videoDownload-isVerified {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.register-page article, .register-form, .register-form form div, .home-buttons, .download-page, .download-page article, .info-download-video {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.register-page, .register-page article, .register-form form div, .register-form button span, .download-page article, .info-download-video, .videoDownload-isVerified {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  align-items: center;
}

.register-page, .register-page article, .register-form button span {
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  justify-content: center;
}

.mobile-apps, .download-page article, .info-download-video {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.register-page article, .register-form, .register-form form div, .home-buttons, .download-page, .download-page article, .info-download-video {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  position: fixed;
  display: none;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Roboto';
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

select {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  border-radius: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  color: white;
}

input::-moz-placeholder {
  color: lightgrey;
}

input::-webkit-input-placeholder {
  color: lightgrey;
}

div[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
}

html body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px/1.4;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.register-page {
  background-image: url("../../img/register-bg.jpg");
  background-size: cover;
  background-position: right;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) and (orientation: portrait) {
  .register-page {
    -webkit-animation: imageTranslation 10s both ease-in-out;
    -moz-animation: imageTranslation 10s both ease-in-out;
    animation: imageTranslation 10s both ease-in-out;
  }
}

@media (min-aspect-ratio: 6 / 7) {
  .register-page {
    position: fixed;
  }
}

.register-page article {
  min-height: 365px;
  min-width: 290px;
  width: 60%;
}

.register-logo {
  text-align: center;
}

.register-logo img {
  width: 90%;
}

.register-logo h2 {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 10px;
}

.register-form {
  width: 100%;
  max-width: 250px;
  margin-top: 60px;
}

@media (max-width: 767px) and (orientation: landscape) {
  .register-form {
    margin-top: 30px;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .register-form {
    margin-top: 30px;
  }
}

.register-form form {
  background-color: white;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.register-form form div {
  padding: 6px 0;
}

.register-form form div input[type="text"],
.register-form form div input[type="password"] {
  width: 88%;
  height: 40px;
  font-size: 14px;
}

.register-form form div input[type="text"]:nth-child(2) {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.register-form form div span {
  position: relative;
  font-size: 14px;
}

.register-form form div span input {
  position: absolute;
  left: 10px;
  top: 12px;
}

.register-form form div span label {
  display: inline-block;
  color: #919191;
  margin: 11px;
  margin-left: 30px;
}

.register-form form div span a {
  color: #919191;
}

.register-form button {
  background-color: transparent;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  margin-top: 8px;
  outline: none;
  overflow: hidden;
}

.register-form button span {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.credentials-errors {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 8px;
  padding: 5% 8%;
}

.mobile-apps {
  margin: 50px auto 0 auto;
  width: 85%;
  max-width: 350px;
}

@media (max-width: 767px) and (orientation: landscape) {
  .mobile-apps {
    display: none;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .mobile-apps {
    display: none;
  }
}

.mobile-apps a {
  width: 45%;
}

.mobile-apps a img {
  width: 100%;
}

.home-buttons button:first-child {
  background-color: white;
  color: grey;
}

.home-buttons button:hover {
  background-color: #f14b51;
  color: white;
}

.g-recaptcha {
  transform: scale(0.75) translateX(1px);
}

.full-sized-bg-img {
  background-color: #F14b51;
  background-image: url("../../img/login-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%;
  display: table;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.small-center-container {
  width: 30vw;
  min-width: 264px;
  margin: auto;
  margin-bottom: 64px;
}

#login img.header-logo {
  margin: 64px 0;
  width: 100%;
}

#login form {
  text-align: center;
}

#login .input-group-two {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  max-width: 264px;
  position: relative;
}

#login .input-group-two:before {
  background-color: #B6B6B6;
  content: "";
  display: inline-block;
  height: 1px;
  width: 90%;
  position: absolute;
  top: 39px;
  left: 5%;
}

#login input {
  border: inherit;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 11px 10px 11px 13px;
  width: 100%;
}

#login input[type="submit"] {
  border: auto;
  margin-top: 16px;
  max-width: 264px;
}

#login input.button-border {
  border: 2px solid #fff;
}

.button-border {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button-border:hover {
  background-color: #fff;
  color: #F14b51;
}

.block-link {
  display: inline-block;
}

#login .block-link {
  margin: 32px 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.download-page {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}

.download-page article {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

@media (orientation: landscape) {
  .download-page article {
    margin: 20px auto 0 auto;
    width: 96vw;
    background-color: white;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
  }
}

.video-download-page {
  width: 100%;
}

@media (orientation: landscape) {
  .video-download-page {
    width: 46%;
    margin: 20px 0 0 20px;
  }
}

.video-download-page video, .video-download-page .video-player {
  width: 100%;
}

.info-download-video {
  width: 96vw;
  margin: 2vw;
  background-color: white;
  height: 100%;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

@media (orientation: landscape) {
  .info-download-video {
    height: auto;
  }
}

.info-download-video > div:first-child {
  margin-top: 5vw;
  width: 90%;
}

@media (orientation: landscape) {
  .info-download-video > div:first-child {
    margin-top: 0;
  }
}

.info-download-video > div:last-child {
  height: 8%;
  margin-bottom: 5vw;
}

@media (orientation: landscape) {
  .info-download-video > div:last-child {
    display: none;
  }
}

.headers-info-videoDownload h1 {
  font-weight: 500;
  font-size: 24px;
  color: #2b2b2b;
}

@media (orientation: landscape) {
  .headers-info-videoDownload h1 {
    font-size: 36px;
  }
}

.headers-info-videoDownload h2 {
  color: #626262;
  font-size: 20px;
  margin: 10px 0;
}

@media (orientation: landscape) {
  .headers-info-videoDownload h2 {
    font-size: 20px;
  }
}

.videoDownload-isVerified {
  margin-top: 17px;
  height: 40px;
}

.videoDownload-isVerified img {
  width: 32px;
}

.videoDownload-isVerified p {
  color: #626262;
  font-size: 20px;
  margin-left: 8px;
}

.download-video-code {
  margin-top: 30px;
  color: #5A6978;
  text-align: center;
}

.download-video-code input {
  margin-top: 8px;
  width: 75%;
  max-width: 300px;
  height: 32px;
  background-color: #f3f3f3;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
}

.videoDownload-button {
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.videoDownload-button button {
  color: white;
  background-color: #fac5c7;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  padding: 0 15px;
  margin-top: 30px;
  font-size: 15px;
}

@media (orientation: landscape) {
  .videoDownload-button button {
    background-color: #F14b51;
    font-size: 24px;
    height: 48px;
  }
}

.videoDownload-go-back-portrait {
  color: grey;
}

@media (orientation: landscape) {
  .videoDownload-go-back-portrait {
    display: none;
  }
}

.videoDownload-back-landscape {
  color: grey;
  width: 96vw;
  max-width: 1200px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: white;
}

@media (orientation: portrait) {
  .videoDownload-back-landscape {
    display: none;
  }
}

.videoDownload-back-landscape p {
  width: 50%;
  text-align: center;
}

.code-error {
  padding: 8px;
  display: inline-block;
  width: 50%;
  color: #ff0000;
}
