@import
'base/variables',
'base/medias';

@import
'helpers/mixins',
'helpers/animations',
'helpers/placeholders';

// COMPONENTS

@import
'base/reset',
'../pages/register/register.view',
'../pages/login/login.view',
'../pages/video-download/video-download.view';
