@import
'base/variables',
'base/medias';

@import
'helpers/mixins',
'helpers/animations',
'helpers/placeholders';

// COMPONENTS

@import
'../components/404/error404.view',
'../components/profile-top-menu/profile-top-menu.view',
'../components/topbar/topbar',
'../components/video-card/video-card',
'../components/video-list/video-list';

@import
'base/reset',
'../pages/register/register.view',
'../pages/login/login.view',
'../pages/video-detail/video-detail.view',
'../pages/video-detail-edit/video-detail-edit.view',
'../pages/video-download/video-download.view',
'../pages/gallery/gallery.view',
'../pages/search/search.view',
'../pages/upload/upload.view',
'../pages/user-gallery/user-gallery.view';
