.header-box-wrapper {
	overflow: hidden;
	position: relative;
	min-height: 45vh;
	width: 100%;
	@include tablet {
		min-height: 35vh;
	}

	video {
		object-fit: cover;
		position: absolute;
		min-height: 100%;
		min-width: 100%;
	}

	.header-box {
		@extend %flex-direction-column;
		@extend %align-items-center;
		@extend %justify-content-center;
		color: $backgroundLight;
		min-height: 35vh;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 0;	


		h2 {
			font-size: 28px;
			text-align: center;
			margin: 16px;
			margin-top: 64px;
			@include tablet {
				font-size: 40px;
			}

		}

		p {
			font-size: 16px;
			line-height: 1.3em;
			text-align: center;
			@include tablet {
				font-size: 20px;
			}
		}

		.keywords {
			font-size: .8em;
			margin: 6px 40px;
		}
	}

	.header-box-spacer {
		min-height: 35vh;	
	}
}
