<md-dialog ng-controller="DistributionController as Distribution">
	<form ng-cloak>
<!-- 		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Client list</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar> -->

		<md-dialog-content>
			<div class="md-dialog-content">
				<client-list selection="Distribution.clientList" status="Distribution.status"></client-list>

				<div ng-show="Distribution.status.isAddingClient">
					<client-form on-exit="Distribution.hideAddClient"></client-form>
				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row" ng-hide="Distribution.status.isAddingClient || Distribution.status.isFormOpen">
			<md-button ng-click="Distribution.status.isAddingClient = true">
				{{ 'ADD_CLIENT' | translate }}
			</md-button>
			<span flex></span>
			<md-button class="md-primary md-raised" ng-click="Distribution.send(Distribution.clientList)" md-autofocus>
				<md-progress-circular ng-show="Distribution.loading" class="md-hue-3 md-inline" md-diameter="20px"></md-progress-circular>
				{{ 'DISTRIBUTE' | translate }}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
