<div ng-controller="RegisterController as Register" class="register-page">
	
	
	<article>
		<div class="register-logo">
			<img src="../../img/brand/vimojo.svg" alt="vimojo_logo" />
			<h2 ng-if="!Register.error"><pre>{{'REGISTER_SLOGAN' | translate}}</pre></h2>	
		</div>

		<section class="register-form">

			<form name="form" novalidate>

				<div ng-show="Register.status.register">
					<input type="text" placeholder="{{'USERNAME' | translate }}" ng-model="Register.username">
					<input type="text" placeholder="{{'EMAIL' | translate }}" ng-model="Register.email">
					<input type="password" placeholder="{{'PASSWORD' | translate }}" ng-model="Register.password">
				</div>

				<div ng-show="Register.status.terms">
					<div id="recaptcha" class="g-recaptcha" data-sitekey="6LfKYUMUAAAAAHza4xAfzQ7FHCpKy1Nbz5TBj7GM" render="explicit"></div>
					<span>
						<input type="checkbox" id="signup" ng-model="Register.terms" required="required">
						<label for="signup">{{'ACCEPT_CONDITIONS_1' | translate}}<span>
							<a ui-sref="terms" target="_blank">{{'CONDITIONS' | translate}}</a>
						</span>{{'ACCEPT_CONDITIONS_2' | translate}}</label>
					</span>
				</div>

			</form>

			<div ng-show="Register.loading" class="credentials-errors">{{'LOADING' | translate}}</div>
			<ul class="credentials-errors" ng-show="Register.error.length > 0">
				<li ng-repeat="err in Register.error"> {{err}} </li>
			</ul>

			<button>
				<span ng-if="Register.status.register" ng-click="Register.list1()">{{'REGISTER_ACTION' | translate }}</span>
				<span ng-if="Register.status.terms" ng-click="Register.submit()">{{'COMPLETED' | translate }}</span>
			</button>

		</section>

		<section class="mobile-apps">
			<a href='https://play.google.com/store/apps/details?id=com.videonasocialmedia.vimojo.main' target="_blank">
				<img alt='Get it on Google Play' src='../../img/googlePlay-bg.svg' />
			</a>
			<a href='https://itunes.apple.com/es/app/videona-editor-de-v%C3%ADdeo/id1127225544?mt=8' target="_blank">
				<img alt="itunes_logo" src="../../img/iTunes-bg.png" />
			</a>
		</section>
	</article>

</div>