.register-page {
	@extend %align-items-center;
	background-image: url('../../img/register-bg.jpg');
	background-size: cover;
	background-position: right;
	@extend %display-flex;
	@extend %justify-content-center;
	height: 100%;
	width: 100%;
	@include mobileQueryPortrait {
		-webkit-animation: imageTranslation 10s both ease-in-out;
  	-moz-animation: imageTranslation 10s both ease-in-out;
		animation: imageTranslation 10s both ease-in-out;
	}
	@include keyboard {
    position: fixed;
	}
	article {
		@extend %align-items-center;
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %justify-content-center;
		min-height: 365px;
		min-width: 290px;
		width: 60%;
	}
}

.register-logo {
	text-align: center;
	img {
		width: 90%;
	}
	h2 {
		color: white;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.2;
		margin-top: 10px;
	}
}

.register-form {
	@extend %display-flex;
	@extend %flex-direction-column;
	width: 100%;
	max-width: 250px;
	margin-top: 60px;
	@include mobileQueryLandscape {
		margin-top: 30px;
	}
	@include tabletQueryLandscape {
		margin-top: 30px;
	}
	form {
		background-color: white;
		@include border-radius(10px);
		div {
			@extend %display-flex;
			@extend %flex-direction-column;
			@extend %align-items-center;
			padding: 6px 0;
			input[type="text"],
			input[type="password"] {
				width: 88%;
				height: 40px;
				font-size: 14px;
			}
			input[type="text"]:nth-child(2) {
				border-top: 1px solid $textLight;
				border-bottom: 1px solid $textLight;
			}
			span {
				position: relative;
				font-size: 14px;
				input {
					position: absolute;
					left: 10px;
					top: 12px;
				}
				label {
					display: inline-block;
    			color: $textLight;
					margin: 11px;
					margin-left: 30px;
				}
				a {
					color: $textLight;
				}
			}
		}
	}
	button {
		background-color: transparent;
		@include border-radius(10px);
		border: 1px solid white;
		color: white;
		cursor: pointer;
		font-size: 16px;
		height: 40px;
		margin-top: 8px;
    outline:none;
		overflow: hidden;
		span {
			width: 100%;
  		height: 100%;
  		@extend %display-flex;
			@extend %justify-content-center;
			@extend %align-items-center; 
  		overflow: hidden;
		}
	}
}

.credentials-errors {
	background-color: rgba(0, 0, 0, 0.7);
	@include border-radius(10px);
	color: white;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 8px;
	padding: 5% 8%;
}

.mobile-apps {
	@include mobileQueryLandscape {
		display: none;
	}
	@include tabletQueryLandscape {
		display: none;
	}
	@extend %display-flex;
	margin: 50px auto 0 auto;
	@extend %justify-content-space-between;
	width: 85%;
	max-width: 350px;
	a {
		width: 45%;
		img {
			width: 100%;
		}
	}
}

.home-buttons {
	@extend %display-flex;
	@extend %flex-direction-column;
	button:first-child {
		background-color: white;
		color: grey;
	}
	button:hover {
		background-color: $mainColor;
		color: white;
	}
}

.g-recaptcha {
	transform: scale(0.75) translateX(1px);
}
