<topbar></topbar>
<div ng-controller="RegisterController as RegisterCtrl" class="register-page" layout="row" layout-align="center center">

	<!--<div class="page-title" flex="100">-->
		<!--<h1>{{ 'REGISTER_PAGE_TITLE' | translate }}</h1>-->
	<!--</div>-->

		<md-card class="register-card" flex="60">
			<md-card-title>
				<md-card-title-text>
					<!--<md-icon class="plan-icon">{{ plan.icon }}</md-icon>-->
					<span class="md-headline">{{ 'REGISTER_PAGE_TITLE' | translate }}</span>
					<span class="md-subhead">{{ plan.headline | translate }}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row">
				<div class="register-page__product-details" flex="40">
					{{ 'REGISTER_PAGE_FEATURES_HEADLINE' | translate }} {{ RegisterCtrl.currentProductDetails.name }}.
					<md-list class="md-dense feature-list" flex>
						<md-list-item class="md-1-line" ng-repeat="feature in RegisterCtrl.currentProductDetails.features">

							<div class="md-list-item-text"><md-icon>{{ feature.icon }}</md-icon>{{ feature.featureLine | translate }}</div>
						</md-list-item>
					</md-list>
				</div>
				<div class="register-page__promotion-details" flex="60" layout="column" >
					<div flex class="promotion-headline">{{ 'REGISTER_PAGE_PROMOTION_HEADLINE_START' | translate }}
						{{ RegisterCtrl.currentProductDetails.name }}
						{{ 'REGISTER_PAGE_PROMOTION_HEADLINE_END' | translate }}</div>
					<div flex class="promotion-subhead">{{ 'REGISTER_PAGE_PROMOTION_SUBHEAD' | translate }}
						{{ RegisterCtrl.endOfPromotion }}</div>
					<div flex class="promotion-graphics" layout="row">
						<div class="icon-wrapper" flex="33">
							<span class="icon-holder"><md-icon>plus_one</md-icon></span>
							<span class="text">{{ 'REGISTER_PAGE_PROMOTION_GRAPHICS_REGISTER' | translate }}</span>
						</div>
						<div class="icon-wrapper" flex="33">
							<span class="icon-holder"><md-icon>phone_android</md-icon></span>
							<span class="text">{{ 'REGISTER_PAGE_PROMOTION_GRAPHICS_INSTALL_APPS' | translate }}</span>
						</div>
						<div class="icon-wrapper" flex="33">
							<span class="icon-holder"><md-icon>lock_open</md-icon></span>
							<span class="text">{{ 'REGISTER_PAGE_PROMOTION_GRAPHICS_FREE_TRIAL' | translate }}</span>
						</div>
					</div>
					<div flex="initial" class="register-link">
						<md-button class="sign-in-button md-raised md-primary" ng-click="RegisterCtrl.createAccount()">
							{{ 'SIGN_IN' | translate }}</md-button>
						<span class="conditions">{{ 'REGISTER_PAGE_CONDITIONS' | translate }}</span>
						<span class="terms">{{ 'REGISTER_PAGE_TERMS_AGREE' | translate }}
							{{ 'TERMS_OF_SERVICE' | translate }} {{ 'AND' | translate }} {{ 'PRIVACY_POLICY' | translate }}</span>
					</div>

			</md-card-content>
		</md-card>
	</div>

</div>