.gallery-featured {
	@extend %display-inline-flex;
	video-card {
		width: 42vw;
		@include tablet {
			width: 33.33vw;
		}
		@include desktop {
			width: calc(25vw - 6.5px);
		}
		article {
			height: 23.625vw;
			@include border-radius-full(5px, 5px, 0px, 0px);
			@include tablet {
				height: 17.83vw;
			}
			@include desktop {
				height: 13.225vw;
			}
			background-size: cover; /*scaling down large image to a div*/
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.gallery-nonFeatured {
	@extend %display-flex;
	@extend %flex-wrap-wrap;
	video-card {
		margin: $cardMargin 0 0 0;
		width: 100%;
		@include tablet {
			width: 33.3%;
		}
		@include desktop {
			width: 20%;
		}
		article {
			height: 56.25vw;
			@include border-radius-full(5px, 5px, 0px, 0px);
			@include tablet {
				height: calc(18.73vw - 9.75px);
			}
			@include desktop {
				height: 10.462vw;
			}
			background-size: cover; /*scaling down large image to a div*/
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

