<div infinite-scroll="infinite()" infinite-scroll-distance="1" infinite-scroll-disabled="loading">
    <section class="{{sectionClass}}">
        <article>
            <video-card ng-repeat="video in datasource"
                        ng-style="($index + 1) % videosPerRow === 0 ? { 'margin':'0px' } : {}"
                        video="video"
                        width="width" height="height"
                        ui-sref="videoPreview({ id: video._id })">
            </video-card>
        </article>
    </section>
</div>