<div ng-controller="GalleryController as Gallery" class="gallery">
	<topbar></topbar>
	<div infinite-scroll="Gallery.notFeatured.get()" infinite-scroll-distance="1" infinite-scroll-disabled='Gallery.notFeatured.isLoading'>
		<section class="gallery-featured">
			<div>
				<h1>{{'GALLERY_FEATURED_VIDEOS' | translate}}</h1>
				<a href="#">
					<p>{{'GALLERY_VIEW_ALL' | translate}}</p>
				</a>
			</div>
			<article>
				<video-card ng-repeat="video in Gallery.gallery.featured" video="video"
							width="Gallery.featured.videoWidth" height="Gallery.featured.videoHeight"
							ui-sref="videoPreview({ id: video._id })"></video-card>
			</article>
		</section>
		<section class="gallery-filter">
			<img src="../../img/funnel.svg" alt="img_funnel">
			<div>
				<label class="gallery-label-select">
					<span>{{'GALLERY_ORDER_BY' | translate}}</span>
					<select>
						<option selected>{{'GALLERY_ORDER_BY_SELECTOR_RELEVANCE' | translate}}</option>
					</select>
				</label>
			</div>
		</section>
		<section class="gallery-nonFeatured">
			<article>
				<video-card ng-repeat="video in Gallery.gallery.notFeatured"
							ng-style="($index + 1) % Gallery.notFeatured.videosPerRow === 0 ? { 'margin':'0px' } : {}"
							video="video" width="Gallery.notFeatured.videoWidth"
							height="Gallery.notFeatured.videoHeight" ui-sref="videoPreview({ id: video._id })"/>
				</video-card>
			</article>
		</section>
	</div>
	<div ng-if='Gallery.loading'>Loading data...</div>
</div>