a {
	color: $textDark;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.video-page {
	min-height: 100%;
	width: 100%;
	background-color: $background;
	@extend %display-flex;
	@extend %flex-direction-column;
	margin-top: $topbarHeight;
	article {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %justify-content-space-between;
		@extend %align-items-center;
		@include desktop {
			margin: 20px auto 0 auto;
			width: 96vw;
			background-color: white;
			flex-direction: row;
			align-items: flex-start;
			height: auto;
		}
	}
}

.video-detail-page {
	width: 100%;
	@include desktop {
		margin: 20px 0 0 20px;
	}

	video, .video-player {
		width: 100%;
	}

	.video-author {
		color: $text;
		margin: 16px 8px;
		.user-pic {
			border-radius: 50%;
			display: inline-block;
			height: 64px;
			vertical-align: middle;
			width: 64px;

			svg {
				fill: $text;
			}
		}
		
		.user-info {
			display: inline-block;
			margin-left: 8px;
			vertical-align: middle;

			strong {
				font-size: 1.5em;
			}
		}
	}
}

.info-detail-video {
	width: 96vw;
	margin: 2vw;
	background-color: $backgroundLight;
	height: 100%;
	@include border-radius(4px);
	@extend %display-flex;
	@extend %flex-direction-column;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	@include desktop {
		height: auto;
	}
	& > div:first-child {
		margin-top: 5vw;
		width: 90%;
		@include desktop {
			margin-top: 0;
		}
	}
	& > div:last-child {
		height: 8%;
		margin-bottom: 5vw;
	}
}

.headers-info-videoDetail {
	h1 {
		font-weight: 500;
		font-size: 24px;
		color: $textDark;
		@include desktop {
			font-size: 36px;
		}
	}
	h2 {
		color: $text; 
		font-size: 20px;
		margin: 10px 0;
		@include desktop {
			font-size: 20px;
		}
	}
}

.videoDetail-isVerified {
	@extend %display-flex;
	@extend %align-items-center;
	margin-top: 17px;
	height: 40px;
	img {
		width: 32px;
	}
	p {
		color: $text;
		font-size: 20px;
		margin-left: 8px;
	}
}

.videoDetail-detail {
	color: $text;
	cursor: pointer;
	margin: 12px 0;

	strong {
		color: $textDark;
		font-weight: bold;
    	padding-right: 12px;
	}
}

.videoDetail-edit-row {
	margin: 16px 0;
	text-align: center;
	width: 100%; 
	@include desktop {
		text-align: right;
	}
}

.videoDetail-button {
	background-color: $mainColor;
	@include border-radius(4px);
	color: $backgroundLight;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin-top: 30px;
	padding: 8px 16px;
	text-align: center;
	@include desktop {
		background-color: $mainColor;
		font-size: 24px;
		padding: 16px 32px;
	}
	.disabled {
		background-color: $mainColorDisabled;
	}
}


.code-error {
	padding: 8px;
	display: inline-block;
	width: 50%;
	color: $error;
}
