.video-page {
	background-color: $background;
	margin-top: $topbarHeight;
	min-height: 100%;
	/* video, */
	.video-player {
		width: 100%;
		height: 56.25vw;
		@include desktop {
			width: 500px;
			height: 281.25px;
			margin: $cardMargin;
		}
	}
	@include desktop {
		article {
			background-color: $backgroundLight;
			width: 1024px;
			margin: 0 auto;
			> section {
				display: flex;
			}
		}
	}

	.md-button {
		padding: 0px 24px;

		md-icon {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.md-button * {
		vertical-align: middle;
	}

	.md-button.btn-border {
		border: 1px solid $mainColor;
		color: $mainColor;
	}

	.video-detail-map {
		box-sizing: border-box;
		padding: $cardMargin;
		width: 100%;

		.no-map {
		    background: $ultraLightGray;
			color: $textLight;
			height: 150px;
			display: inline-block;
			width: 100%;
			text-align: center;
			line-height: 150px;
		}
	}

	.button-bar {
		background: $backgroundLight;
		bottom: 0;
		left: 0;
		padding: 4px 0;
		position: fixed;
		width: 100%;

		@include desktop {
			background: transparent;
			position: static;
		}
	}
}

.card-video-detail {
	padding: 10px;
}

.card-video-info {
	@extend %display-flex;
	@extend %flex-direction-column;
	background-color: $backgroundLight;
	padding: 7px 24px;
    margin-top: 16px;
    margin-bottom: 52px;
	@include border-radius($cardRadius);
	@include desktop {
		flex-direction: row;
	}
	@include desktop {
		flex-direction: column;
	}
	width: 100%;
	
	> div:first-child {
		margin: $cardMargin $cardMargin 0 0;
		h1 {
			color: $textDark;
			font-size: 23px;

			md-icon {
				font-size: 20px;
			}
		}
		p {
			color: $text; 
			font-size: 18px;
			margin: 10px 15px 0 5px;
			line-height: 1.2;
		}
		> div {
			text-align: right;
			input {
				margin-top: 15px;
			}
		}
	}
	hr {
		border: 0.5px solid $backgroundDark;
		margin: 5px 13px;
	}
	> div:last-child {
		margin: 8px $cardMargin 0 $cardMargin;
	}

	.padding {
		padding: 8px 0;
	}

	#video-description {
		font-size: 17px;
	}

	.block-ellipsis {
		display: block;
		display: -webkit-box;
		max-width: 100%;
		height: 50px;
		margin: 0 auto;
		font-size: 17px;
		line-height: 1;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.read-more {
		cursor: pointer;
	}

	.video-download-view {
		width: 100%;
	}
}

.video-detail-verified {
	@extend %display-flex;
	@extend %align-items-center;
	img {
		width: 30px;
		height: 30px;
		margin-right: 7px;
	}
}

.video-detail-show-info {
	cursor: pointer;
	margin: $cardMargin 0;
	span {
		font-size: 18px;
	}
	i {
		vertical-align: middle;
	}
}
.video-detail-show-info:hover {
	color: $mainColor;
}

.video-detail-info {
	margin: 0 0 $cardMargin $cardMargin;
	p {
		line-height: 1.5;
		color: $text;
	}
}

strong {
	color: $textDark;
	font-weight: 500;
	padding-right: 7px;
}

.navigate {
	text-align: center;
	@include desktop {
		text-align: right;
	}
}

.video-detail-edit-info {
	margin: 5px 0;
	text-align: right;
	padding: 11px 40px;
	display: inline-block;
	@include border-radius(4px);
	background-color: $mainColor;
	border: 1px solid $mainColor;
	a {
		color: $backgroundLight;
		cursor: pointer;
	}
}
.video-detail-edit-info.button-empty {
	background-color: $backgroundLight;
	border: 1px solid $mainColor;
	color: $mainColor;
	a {
		color: $mainColor;
	}
}

.headers-info-videoDetail {
	h1 {
		font-weight: 500;
		font-size: 24px;
		color: $textDark;
		@include desktop {
			font-size: 36px;
		}
	}
	h2 {
		color: $text; 
		font-size: 20px;
		margin: 10px 0;
		@include desktop {
			font-size: 20px;
		}
	}
}
