.video-page {
	background-color: $background;
	margin-top: $topbarHeight;
	height: 100%;
	video {
		width: 100%;
		height: 56.25vw;
		@include desktop {
			width: 500px;
			height: 281.25px;
			margin: $cardMargin;
		}
	}
	.card-user-info-desktop {
		cursor: pointer;
		display: none;
	}
	@include desktop {
		article {
			background-color: $backgroundLight;
			width: 1024px;
			margin: 0 auto;
			> section {
				display: flex;
			}
		}
		.card-user-info {
			display: none;
		}
		.card-user-info-desktop {
			display: flex;
		}
	}
	.navigate {
		.button {
			margin: 5px;
		}
	}
}

.card-video-detail {
	padding: 10px;
}

.card-video-info {
	@extend %display-flex;
	@extend %flex-direction-column;
	background-color: $backgroundLight;
	margin: $cardMargin;
	@include border-radius($cardRadius);
	@include desktop {
		flex-direction: row;
	}
	@include desktop {
		flex-direction: column;
	}
	> div:first-child {
		margin: $cardMargin $cardMargin 0 0;
		h1 {
			color: $textDark;
			font-size: 23px;
		}
		p {
			color: $text; 
			font-size: 18px;
			margin: 10px 15px 0 5px;
			line-height: 1.2;
		}
		> div {
			text-align: right;
			input {
				margin-top: 15px;
			}
		}
	}
	hr {
		border: 0.5px solid $backgroundDark;
		margin: 5px 13px;
	}
	> div:last-child {
		margin: 8px $cardMargin 0 $cardMargin;
	}

	.padding {
		padding: 8px 0;
	}

	.block-ellipsis {
		display: block;
		display: -webkit-box;
		max-width: 100%;
		height: 43px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.read-more {
		cursor: pointer;
	}
}

.video-detail-verified {
	@extend %display-flex;
	@extend %align-items-center;
	img {
		width: 30px;
		height: 30px;
		margin-right: 7px;
	}
}

.video-detail-show-info {
	cursor: pointer;
	margin: $cardMargin 0;
	span {
		font-size: 18px;
	}
}

.video-detail-info {
	margin: 0 0 $cardMargin $cardMargin;
	p {
		line-height: 1.5;
		color: $text;
	}
}

strong {
	color: $textDark;
	font-weight: 500;
	padding-right: 7px;
}

.card-user-info {
	@extend %display-flex;
	background-color: $backgroundLight;
	margin: $cardMargin;
	@include border-radius($cardRadius);
	div:first-child {
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %align-items-center;
		ng-include {
			fill: $text;
		}
		img, svg {
			@include border-radius(50%);
			margin: $cardMargin $cardMargin 5px $cardMargin;
			width: 65px;
			height: 65px;
		}
		span {
			color: $text;
			font-size: 12px;
		}
	}
	div:last-child {
		margin-top: $cardMargin;
		p:first-child {
			color: red;
		}
		p {
			line-height: 1.5;
			color: $text;
		}
	}
}

.video-detail-edit-info {
	margin: $cardMargin 0;
	text-align: right;
	padding: 7px 45px;
	float: right;
	@include border-radius(4px);
	background-color: $mainColor;
	border: 1px solid $mainColor;
	a {
		color: $backgroundLight;
		cursor: pointer;
	}
}
.video-detail-edit-info.button-empty {
	background-color: $backgroundLight;
	border: 1px solid $mainColor;
	color: $mainColor;
	a {
		color: $mainColor;
	}
}

.headers-info-videoDetail {
	h1 {
		font-weight: 500;
		font-size: 24px;
		color: $textDark;
		@include desktop {
			font-size: 36px;
		}
	}
	h2 {
		color: $text; 
		font-size: 20px;
		margin: 10px 0;
		@include desktop {
			font-size: 20px;
		}
	}
}
