<div ng-controller="VideoDetailController as VideoDetailCtrl" class="video-page">

	<topbar transparent="null"></topbar>
	<!-- Screen loading directive -->
	<div ng-if="!VideoDetailCtrl.video && VideoDetailCtrl.loading" class="loading">
		<loading></loading>
	</div>

	<error404 ng-if="VideoDetailCtrl.video.error && !VideoDetailCtrl.loading" ></error404>

	<article ng-if="VideoDetailCtrl.video && !VideoDetailCtrl.video.error">
		<section class="card-video-detail">
			<div>
				<player video="VideoDetailCtrl.video.video" poster="VideoDetailCtrl.video.poster"></player>

				<div class="video-detail-map only-desktop">
					<ng-map default-style="false" center="VideoDetailCtrl.mapMarker" ng-if="VideoDetailCtrl.mapMarker.length > 0">
						<marker ng-if="VideoDetailCtrl.video.location" position="{{ VideoDetailCtrl.mapMarker }}"
								title="{{ VideoDetailCtrl.video.locationName }}" centered="true"></marker>
					</ng-map>
					<div ng-if="VideoDetailCtrl.mapMarker.length === 0" class="no-map">
						No location selected
					</div>
				</div>

			</div>
			<section class="card-video-info">
				<div>
					<h1>
						{{ ::VideoDetailCtrl.video.title }}
						<md-icon ng-if="VideoDetailCtrl.video.verified == true || VideoDetailCtrl.video.verified == 'true'">
							<md-tooltip md-delay="1000">{{ 'VIDEO_VERIFIED' | translate }}</md-tooltip>
							check_circle
						</md-icon>
						<md-icon ng-if="VideoDetailCtrl.video.featured == true || VideoDetailCtrl.video.featured == 'true'">
							<md-tooltip md-delay="1000">{{ 'VIDEO_FEATURED' | translate }}</md-tooltip>
							star
						</md-icon>
					</h1>
				</div>
				
				<div class="padding video-detail-date">
					<span ng-if="VideoDetailCtrl.video.locationName">{{VideoDetailCtrl.video.locationName}}, </span>{{VideoDetailCtrl.video.date | localeDate}}
				</div>
				
				<div class="padding">
					<p ng-class="{'block-ellipsis': !readMore}" ng-bind="VideoDetailCtrl.video.description" id="video-description"></p>
					
					<div class="padding view-all" ng-show="VideoDetailCtrl.showMore">
						<a ng-click="readMore = !readMore" class="read-more">
							<span ng-hide="readMore">{{'BUTTON_READ_ALL' | translate}} +</span>
							<span ng-show="readMore">{{'BUTTON_READ_LESS' | translate}} -</span>
						</a>
					</div>
					<div class="padding view-all" ng-hide="VideoDetailCtrl.showMore">&nbsp;</div>

					<div class="published-icon" ng-if="VideoDetailCtrl.showPublishedIcon"> 
						<md-icon>cloud_done</md-icon>
						<span> {{'VIDEO_PUBLISHED_CAPTION' | translate}}</span>
					</div>

					<p class="star-container" layout="row" layout-align="space-between center">
						<span class="star-label">{{'VIDEO_DETAIL_QUALITY' | translate}}:</span> <stars value="{{VideoDetailCtrl.video.quality}}"></stars>
					</p>
					<p class="star-container" layout="row" layout-align="space-between center">
						<span>{{'VIDEO_DETAIL_CREDIBILITY' | translate}}:</span> <stars value="{{VideoDetailCtrl.video.credibility}}"></stars>
					</p>
				
					<user-card user="VideoDetailCtrl.video.user"></user-card>
					
					<div class="video-detail-show-info" ng-click="showDetails = !showDetails" ng-init="showDetails = false">
						<span ng-show="showDetails">{{'HIDE_VIDEO_DETAILS' | translate}}</span>
						<span ng-hide="showDetails">{{'SHOW_VIDEO_DETAILS' | translate}}</span>
						<i ng-show="showDetails" class="material-icons">keyboard_arrow_up</i>
						<i ng-hide="showDetails" class="material-icons">keyboard_arrow_down</i>
					</div> 

					<div class="video-detail-info" ng-show="showDetails">
						<p>
							<strong>{{'VIDEO_DETAIL_CATEGORIES' | translate}}:</strong> {{VideoDetailCtrl.video.categories | commaSeparated:'-':'VIDEO_CATEGORY_'}}
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_PRODUCT_TYPE' | translate}}:</strong> {{VideoDetailCtrl.video.productType | productType}}
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_LENGTH' | translate}}:</strong> {{VideoDetailCtrl.video.length | time}}
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_LANGUAGE' | translate}}:</strong> 
							<span ng-if="VideoDetailCtrl.video.language">{{ "VIDEO_LANG_" + VideoDetailCtrl.video.language | translate }}</span>
							<span ng-if="!VideoDetailCtrl.video.language"> - </span>
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_TECHNICAL_DETAILS' | translate}}:</strong> {{VideoDetailCtrl.video.size | toMB }} MB | {{VideoDetailCtrl.video.format}} | {{VideoDetailCtrl.video.dimensions}} | {{VideoDetailCtrl.video.ratio}}
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_TAGS' | translate}}:</strong> {{VideoDetailCtrl.video.tag | commaSeparated:'-'}}
						</p>
						<p>
							<strong>{{'VIDEO_DETAIL_NOTES' | translate}}:</strong> {{VideoDetailCtrl.video.notes || ' - '}}
						</p>
					</div>

					<div ng-if="VideoDetailCtrl.session.role == 'editor'"> 
						<distribute on-distribute="VideoDetailCtrl.refreshDistributionList"></distribute>
						
						<div class="video-detail-show-info" ng-click="showDistribution = !showDistribution" ng-init="showDistribution = false">
							<span ng-show="showDistribution">{{'HIDE_VIDEO_DISTRIBUTION' | translate}}</span>
							<span ng-hide="showDistribution">{{'SHOW_VIDEO_DISTRIBUTION' | translate}}</span>
							<i ng-show="showDistribution" class="material-icons">keyboard_arrow_up</i>
							<i ng-hide="showDistribution" class="material-icons">keyboard_arrow_down</i>
						</div> 
						<distribution-list ng-if="VideoDetailCtrl.loadDistributionList" ng-show="showDistribution"></distribution-list>
					</div>
				</div>

				<div class="video-detail-map only-mobile">
					<ng-map default-style="false" center="VideoDetailCtrl.mapMarker" ng-if="VideoDetailCtrl.mapMarker.length > 0">
						<marker ng-if="VideoDetailCtrl.video.location" position="{{ VideoDetailCtrl.mapMarker }}"
								title="{{ VideoDetailCtrl.video.locationName }}" centered="true"></marker>
					</ng-map>
					<div ng-if="VideoDetailCtrl.mapMarker.length === 0" class="no-map">
						No location selected
					</div>
				</div>
				
				<section ui-view="download" class="video-download-view"></section>

				<section class="navigate button-bar">
					<md-button class="button" ng-if="VideoDetailCtrl.canDelete()" ng-click="VideoDetailCtrl.delete($event)">
						<md-icon>delete</md-icon>
						<span>{{'BUTTON_DELETE' | translate}}</span>
					</md-button>
					<md-button class="button md-raised" ng-if="VideoDetailCtrl.canEdit()"
							   ui-sref="videoDetailEdit({id: VideoDetailCtrl.video._id})">
						<md-icon>edit</md-icon>
						<span>{{'BUTTON_EDIT' | translate}}</span>
					</md-button>
					<md-button
							ng-hide="VideoDetailCtrl.state.current.name === 'videoDownload' && VideoDetailCtrl.stateParams.autoDownload !== 'true'"
							class="button md-raised md-primary video-detail-download-button"
							ng-click="VideoDetailCtrl.videoDownload({id: VideoDetailCtrl.video._id, autoDownload: VideoDetailCtrl.session.id == VideoDetailCtrl.video.owner || VideoDetailCtrl.session.role === 'editor'})">
						<md-progress-circular ng-show="VideoDetailCtrl.downloading" class="md-hue-3 md-inline" md-diameter="20px"></md-progress-circular>
						<span>{{'DOWNLOAD_VIDEO' | translate}}</span>
					</md-button>
				</section>
			</section>
		</section>		
	</article>
	
</div>