video-card {
	div.card-container {
		@extend %display-flex;
		@extend %flex-direction-column;
		background-color: white;
		cursor: pointer;
		@include border-radius($cardRadius);
		.video-info {
			@extend %display-flex;
			@extend %flex-direction-column;
			margin: 12px 7px 12px 12px;
			svg {
				width: 12px;
			}
			h2, h3, h4 {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: normal;
			}
			h2 {
				font-size: 16px;
				color: $text;
				margin-bottom: 5px;
			}
			h3, h4 {
				font-size: 12px;
				margin-top: 4px;
				color: $grey;
			}
		}
		.video-isVerified {
			@extend %display-flex;
			@extend %align-items-flex-end;
			margin: 8px 0 15px 12px;
			img {
				width: 15px;
				height: 15px;
			}
			p {
				margin-left: 5px;
				font-size: 14px;
				color: $grey;
			}
		}
	}
}

.capital_first_letter:first-letter {
	text-transform: capitalize;
}