<div ng-style="{'width':size.width}" class="card-container">
	<img ng-src="{{poster}}" onerror="this.src = '/img/no-video.svg'" alt="title" ng-style="size" />
	<section class="video-info">
		<h2 ng-bind="title"></h2>
		<h4>{{productType | productType}}</h4>
	</section>
	<section class="video-isVerified" ng-if="isVerified">
		<img src="../../img/checked.svg" alt="video_verified" />
		<p>{{'VIDEO_VERIFIED' | translate}}</p>
	</section>
	<section class="video-isVerified" ng-if="!isVerified">
		<img src="../../img/unchecked.svg" alt="video_not_verified" />
		<p>{{'VIDEO_NOT_VERIFIED' | translate}}</p>
	</section>
</div>
