/* COLORS */
//base
$primaryColor: #F14b51;
$alertColor: #F23260;
$lightGrey: #B6B6B6;
$grey: #5A6978;
//gradient colors
$color1: #0089ff;
$color2: #2a5ab5;
//backgrounds
$backwhite: #ffffff;
$backgrey: #e3e3e3;
//fonts colors
$maintag: #c4c4c4;
$mainQuestion: #525252;
//svg
$stroke_svg: #878787;
$stroke_width: 0.9863;
$fill_disabled: #ffffff;
$fill_enabled: #c1c1c1;

/* SIZES */

// Topbar
$topbarHeight: 52px; // Topbar base height
$topbarImgHeight: 30px;
// Navbar
$navbarHeight: 50px; // Navbar base height
$navbarImgHeight: 30px;
$cardMargin: 13px;
$specificInteraction: 43px;
