<!--<topbar></topbar>-->

<div ng-controller="VideoDetailEditController as Video" class="video-edit-page">

	<div layout="row" flex-gt-md="80" flex-offset-gt-md="10" layout-wrap="auto" class="video-edit-page__main-details">
		<div flex="100" ng-if="!Video.video && Video.loading" class="loading">
			<loading></loading>
		</div>
		<div flex-gt-sm="60" flex="100">
			<md-card layout-wrap="auto" class="video-player">
				<div flex layout="column">
					<div flex="auto">
						<video controls ng-src="{{::Video.video.video}}" ng-attr-poster="{{::Video.video.poster}}"
							   preload="metadata" controlsList="nodownload"></video>
					</div>
					<div layout="row" layout-margin="10" class="video-edit-page__thumbnails">
						<div flex="10"></div>
						<div flex="40" layout="column">
							<div>Miniatura por defecto</div>
							<img ng-if="Video.video.poster" ng-src="{{Video.video.poster}}">
						</div>
						<div flex="40" layout="column">
							<div>
								Miniatura personalizada
								<i ng-if="Video.newPoster" ng-click="Video.resetVideoPoster()" class="material-icons">remove_circle_outline</i>
							</div>
							<div ng-if="!Video.newPoster" class="new-thumbnail-input">
								<div ngf-drop ngf-select ng-model="Video.newPoster" class="drop-box"
									 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
									 accept="image/*"
									 ngf-pattern="'image/*'">
									<img class="upload-drop-icon" src="/img/upload-arrow.svg" alt="img_menu"><br>
									{{'Arrástralo o haz click aquí.' | translate}}
								</div>
							</div>
							<div ng-if="Video.newPoster" class="new-thumbnail-preview">
								<img ngf-src="Video.newPoster"></video>
							</div>
						</div>
						<div flex="10"></div>
					</div>
				</div>
			</md-card> <!-- // .video-player md-card -->
		</div>

		<div flex-gt-sm="40" flex="100">
			<ng-include src="'pages/video-detail-edit/partials/basic-details.html'"></ng-include>
		</div>

		<div flex="100">
			<ng-include src="'pages/video-detail-edit/partials/aditional-details.html'"></ng-include>
		</div>

		<div flex="100">
			<ng-include src="'pages/video-detail-edit/partials/video-file.html'"></ng-include>
		</div>

		<div flex="100">
			<md-card class="video-edit-page__video-location">
				<div>
					Haz click en el mapa para indicar la posición exacta del vídeo
				</div>
				<ng-map default-style="true" center="current-location" zoom="6">
					<info-window position="current-location">
						<span>Location found using HTML5.</span>
					</info-window>
				</ng-map>

			</md-card> <!-- // .aditional-details md-card -->
		</div>

	</div> <!-- // .zero div row layout -->
	<div flex="100">
		<md-card layout="row" class="video-edit-page__edit-actions">
			<div flex="50" class="actions-delete">
				<md-button ng-click="Video.delete()" class="md-raised vertical-middle">
					<i class="material-icons">delete</i>
					Eliminar
				</md-button>
			</div>
			<div flex="50" class="actions-save">
				<md-button ng-click="Video.cancel()" class="md-raised">Cancelar</md-button>
				<md-button ng-click="Video.update()" class="md-raised md-primary cta">Guardar</md-button>
			</div>
		</md-card>
	</div>
</div> <!-- // VideoDetailEditController div -->

<!-- google maps -->
<!--<script async defer ng-src="{{Video.gmapsScriptUrl}}"-->
		<!--type="text/javascript"></script>-->


	<!-- Screen loading directive -->

	<!--<div ng-if="Video.video.error && !Video.loading" class="headers-info-videoDetail">-->
		<!--<h1 class="header">{{'VIDEO_ERROR' | translate}}</h1>-->
		<!--<div>{{'VIDEO_NOT_FOUND' | translate}}</div>-->
	<!--</div>-->
	<!---->
	<!--<article ng-if="Video.video && !Video.video.error">-->
		<!--<section>-->
			<!--<div>-->
				<!--<video controls ng-src="{{::Video.video.video}}" ng-attr-poster="{{::Video.video.poster}}" preload="metadata" controlsList="nodownload"></video>-->
				<!--&lt;!&ndash; Only if desktop >>> &ndash;&gt;-->
				<!--<section class="card-user-info card-user-info-desktop">-->
					<!--<div>-->
						<!--<img ng-if="Video.user.data.pic" ng-src="{{Video.user.data.pic}}">-->
						<!--<ng-include ng-if="!Video.user.data.pic" src="'/img/no-user.svg'" ui-sref="userGallery({userId: Video.user.data.owner})"></ng-include>-->
						<!--<span>{{'USER_PROFFESSIONAL' | translate}}</span>-->
					<!--</div>-->
					<!--<div>-->
						<!--<p><strong>{{'VIDEO_AUTHOR' | translate}}:</strong>{{Video.user.data.username}}</p>-->
						<!--&lt;!&ndash; TO-DO: Make published videos dynamic &ndash;&gt;-->
						<!--<p><strong>{{'PUBLISHED_VIDEOS' | translate}}</strong>50</p>-->

					<!--</div>-->
				<!--</section>-->
				<!--&lt;!&ndash; <<<<<<< &ndash;&gt;-->
			<!--</div>-->
			<!--<section class="card-video-info">-->
				<!--<div>-->
					<!--<h1 ng-bind="Video.video.title"></h1>-->
					<!--<p ng-bind="Video.video.description"></p>-->
					<!--<div><input type="button" value="+ {{'BUTTON_READ_ALL' | translate}}"/></div>-->
				<!--</div>-->
				<!--<hr>-->
				<!--<div>-->
					<!--<div class="video-detail-verified">-->
						<!--<img src="../../img/checked.svg" alt="video-verified" />-->
						<!--<p>{{'VIDEO_VERIFIED' | translate}}</p>-->
					<!--</div>-->
					<!--<div class="video-detail-show-info" ng-click="showDetails = !showDetails">-->
						<!--<span ng-show="showDetails">{{'HIDE_VIDEO_DETAILS' | translate}}</span>-->
						<!--<span ng-hide="showDetails">{{'SHOW_VIDEO_DETAILS' | translate}}</span>-->
					<!--</div>-->
					<!--<div class="video-detail-info" ng-show="showDetails">-->
						<!--<p ng-if="!Video.video.added">-->
							<!--<strong>{{'VIDEO_DETAIL_DATETIME' | translate}}:</strong> {{Video.video.date | date: 'dd/MM/yyyy HH:mm'}}-->
						<!--</p>-->
						<!--<p ng-if="!Video.video.tag">-->
							<!--<strong>{{'VIDEO_DETAIL_CATEGORIES' | translate}}:</strong> {{Video.video.tag}}-->
						<!--</p>-->
						<!--<p ng-if="!Video.video.productType">-->
							<!--<strong>{{'VIDEO_DETAIL_PRODUCT_TYPE' | translate}}:</strong> {{Video.video.productType}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_LENGTH' | translate}}:</strong> {{Video.video.length || 'desconocido'}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_LANGUAGE' | translate}}:</strong> {{Video.video.language || '-'}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_QUALITY' | translate}}:</strong>-->
							<!--{{Video.video.quality || '-'}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_CREDIBILITY' | translate}}:</strong> {{Video.video.credibility || '-'}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_TECHNICAL_DETAILS' | translate}}:</strong> {{Video.video.size || 0 }} Mb | {{Video.video.format}} | {{Video.video.dimensions}} | {{Video.video.ratio}}-->
						<!--</p>-->
						<!--<p>-->
							<!--<strong>{{'VIDEO_DETAIL_TAGS' | translate}}:</strong> {{Video.video.tag}}-->
						<!--</p>-->
						<!--<div class="video-detail-edit-info">-->
							<!--<a ui-sref="download({id: Video.video._id})">{{'BUTTON_EDIT' | translate}}</a>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<section class="navigate">&lt;!&ndash;TODO: is there a class for button only??&ndash;&gt;-->
					<!--<div class="video-detail-edit-info button">-->
						<!--<a ui-sref="videoDownload({id: Video.video._id})">{{'DOWNLOAD_VIDEO' | translate}}</a>-->
					<!--</div>-->
					<!--<div class="video-detail-edit-info button">-->
						<!--<a ui-sref="gallery">{{'BACK_TO_GALLERY' | translate}}</a>-->
					<!--</div>-->
				<!--</section>-->

			<!--</section>-->
		<!--</section>-->
		<!--<section class="card-user-info">-->
			<!--<div>-->
				<!--<img ng-if="Video.user.data.pic" ng-src="{{Video.user.data.pic}}">-->
				<!--<ng-include ng-if="!Video.user.data.pic" src="'/img/no-user.svg'" ui-sref="userGallery({userId: Video.user.data.owner})"></ng-include>-->
				<!--<span>{{'USER_PROFFESSIONAL' | translate}}</span>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p><strong>{{'VIDEO_AUTHOR' | translate}}:</strong>{{Video.user.data.username}}</p>-->
				<!--<p><strong>{{'PUBLISHED_VIDEOS' | translate}}</strong>50</p>-->
			<!--</div>-->
		<!--</section>-->
		<!---->
	<!--</article>-->
	<!---->
<!--</div>-->