//.video-edit-page__main-details {
//	width: 100%;
//}

.video-edit-video-details {
	@extend %display-flex;
	@extend %flex-direction-column;
	@include desktop {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

.video-edit-page {
  margin-top: $topbarHeight;
  background-color: $background;
  width: 100%;
  @media (max-width: 600px) {
    margin-bottom: 85px;
  }

  video {
    width: 100%;
  }

	md-select, md-input-container, .md-resize-wrapper {
		width: 100%;
	}
	
  // TODO: move upper!
  .vertical-middle {
    @extend %display-flex;
    @extend %align-items-center;
  }

  // TODO: move upper!
  .horizontal-center {
		@extend %justify-content-center;
  }

  // TODO: move upper!
  md-card {
    @include border-radius($cardRadius);
    padding: 13px;
    md-input-container {
      margin: 10px 2px;
    }
    input, select, textarea, md-select-value {
      border: 1px solid $lightGrey;
      padding: 5px;
      max-width: 85vw;
    }
    .md-chips {
      padding: 0;
    }
    .md-chips .md-chip-input-container {
      margin: 4px 8px 0 0;
      margin: 0;
      padding: 0;
      height: 50px;
    }
    .hint {
      color: $lightGrey;
    }
  }

  md-input-container {
    padding: 10px 0 0 0;
  }

  .new-thumbnail-input {
    flex-grow: 1;
    @extend %display-flex;
		@extend %flex-direction-column;
    .drop-box {
      width: 100%;
      color: $grey;
      flex-grow: 1;
			@extend %flex-direction-column;
      background-color: $ultraLightGray;
      @include border-radius(5px);
      height: 100%;
      text-align: center;
      padding: 10px;
			box-sizing: border-box;
			@extend %display-flex;
			@extend %flex-direction-column;
			@extend %justify-content-center;
      .upload-drop-icon {
        width: 32px;
        display: inline-block;
        margin-bottom: 16px;
      }
      i {
        position: relative;
        display: inline-block;
        background-color: none;
      }
    }

  }

  .center {
    text-align: center;
  }

  .full-width {
    width: 100%;
		@extend %display-flex;
		@extend %justify-content-center;
  }

  .video-edit-page-file {
      @extend %display-flex;
  }

  .inline-block {
    display: inline-block;
  }

  .flex {
    @extend %display-flex;
  }
}

.video-edit-page__thumbnails {
  img {
    width: 100%;
  }
  .new-thumbnail-preview {
    position: relative;
  }
  i.remove-icon {
    background-color: #fff;
    color: $mainColor;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 90;
  }
  .custom-thumbnail {
    @extend %display-flex;
    @extend %flex-direction-column;
  }
  .new-thumbnail-preview {
    width: 100%;
  }
}

.video-edit-page__aditional-details {
  .first-row {
    padding: 10px 4px;
  }

  .small-sized-input {
    width: 114px;
  }
  .medium-sized-input {
    // TODO(jliarte): check responsiveness
    width: 214px;
  }
  .feature-icon {
    color: yellow;
  }
  .verify-icon {
    color: greenyellow;
  }

  .margin {
    margin: 8px;
  }
}

.video-edit-page__video-file {
  input {
    height: 40px;
  }
	> div {
		margin: 4px 0;
	}
}

.video-edit-page__video-file .new-video-preview {
  position: relative;
  i {
    color: $mainColor;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 90;
  }
}

.video-edit-page__edit-actions {
  @media (max-width: 600px) {
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
  }
  button {
    @include border-radius($buttonRadius);
    margin: $buttonMargin;
    &.md-raised {
      border: $buttonMargin solid $mainColor;
      color: $mainColor;
    }
    i {
      color: $mainColor;
    }
    &.md-primary {
      background-color: $mainColor;
      border: 0;
    }
    &.cta {
      //padding: 10px 40px;
      //font-size: 120%;
      font-weight: bold;
    }
    &.spinner-button {
      @extend %display-inline-flex;
      @extend %justify-content-center;
      md-progress-circular {
        margin: 0 4px;
      }
    }
    md-progress-circular {
      display: inline-block;
    }
  }
  .actions-save {
    text-align: right;
  }
}



////////////////
md-toolbar {
  position: fixed;
  top: 0;
  left: 0;

  background-color: white;
  box-shadow: 0px 0px 1px 1px #e8e8e8;
  z-index: 999;
  height: $topbarHeight;

  md-icon, img {
    height: $topbarImgHeight;
    margin: $cardMargin;
    cursor: pointer;
  }
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: white;
}


// TODO: move upper!

.md-fixed-top {
  position: fixed;
  top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
  position: fixed;
  right: 16px;
}



