<topbar></topbar>
<div ng-controller="SearchController as Search" class="gallery">
	<article>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<div ng-if='Search.service.loading'>
			<loading></loading>
		</div>
		<section class="gallery-section-nonFeatured" ng-if="!Search.service.loading">
			Mostrando {{Search.meta.count}} resultados
			<video-list section-class="gallery-nonFeatured" query="::Search.service.searchTerm" meta="Search.meta" "infinite-scroll-enabled="true"></video-list>
		</section>
	</article>
</div>
