.topbar {
	top: 0;
	left: 0;
	height: $topbarHeight;
	position: fixed;
	width: 100%;
	@extend %display-flex;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #e8e8e8;
	z-index: 999;
	img {
		height: $topbarImgHeight;
		margin: $cardMargin;
		cursor: pointer;
	}

	.desktop-right-icons {
		display: none;
	}

	@include desktop {
		.mobile-menu,
		.mobile-icons {
			display: none;
		}

		.desktop-right-icons {
			display: inline;
		}
	}
}