<header class="topbar">
	<span class="mobile-menu">
		<img src="/img/menu.svg" alt="img_menu">
	</span>
	<span class="logo">
		<img ui-sref="gallery" src="/img/brand/logo_low.png" alt="logo">
	</span>
	<span class="mobile-icons">
		<img ui-sref="upload" src="/img/upload-arrow.svg" alt="img_menu">
		<img src="/img/search.svg" alt="img_menu">
	</span>
	<span class="desktop-right-icons">
		<img ui-sref="upload" src="/img/upload-arrow.svg" alt="img_menu">
		<img src="/img/search.svg" alt="img_menu">
	</span>
</header>
<!--
<div class="topbar-margin"></div>
<section class="gallery-search">
	<input type="text" placeholder="{{'SEARCH' | translate }}" ng-model="Gallery.search">
	<div>
		<label>Order by</label>
		<select>
			<option value="Relevance"></option>
		</select>
	</div>
</section>-->
