.topbar {
	top: 0;
	left: 0;
	height: $topbarHeight;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@extend %display-flex;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #e8e8e8;
	z-index: 50;

	.items-container {
		width: 100%;
		text-align: right;
	}
	
	img, svg {
		cursor: pointer;
		fill: $textLight;
		height: $topbarImgHeight;
		margin: $cardMargin;
		vertical-align: middle;
	}

	i, md-icon {
		color: $textLight;
		cursor: pointer;
		font-size: 24px;
		margin: 13px;
		vertical-align: middle;
	}

	.desktop-right-icons {
		display: none;
	}

	.search-bar {
		background: white;
		box-sizing: border-box;
		display: flex;
		height: 52px;
		justify-content: center;
		left: 0;
		position: absolute;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 1;

		* {
			vertical-align: middle;
		}
		input {
			width: 100%;
			color: $textLight;
		}
	}

	@include desktop {
		.mobile-menu,
		.mobile-icons {
			display: none;
		}

		.desktop-right-icons {
			display: inline;
		}

		.logo {
			width: 25vw;
		}

		.search-bar {
			position: static;	
			display: inline-block !important;
			width: auto;

			.close-search {
				display: none !important;
			}

			input {
				border: 1px solid $lightGrey;
				border-radius: 5px;
				height: 2em;
				padding: 0 8px;
				margin-top: 2px;
				width: 30vw;
			}

			.search-button {
				margin-left: -46px;
    			height: 24px;
			}
		}
	}
}
