<header class="topbar">
	<span class="mobile-menu">
		<ng-include src="'/img/menu.svg'" alt="img_menu"></ng-include>
	</span>
	<span class="logo">
		<img ui-sref="gallery" src="/img/brand/logo_low.png" alt="logo">
	</span>
	<span class="search-bar" ng-show="searching">
		<span ng-click="searching = !searching"><ng-include src="'/img/close.svg'" class="close-search"></ng-include></span>
		<input id="searchField" type="text" name="searchBox" ng-model="search.searchBox" on-enter="search.search()">
		<ng-include src="'/img/search.svg'" alt="img_menu" ng-click="search.search()" class="search-button"></ng-include>
	</span>
	<span class="mobile-icons">
		<span ng-click="searching = !searching; focus();"><ng-include src="'/img/search.svg'" alt="img_menu"></ng-include></span>
		<ng-include ui-sref="upload" src="'/img/upload-arrow.svg'" alt="img_menu"></ng-include>
	</span>
	<span class="desktop-right-icons">
		<ng-include ui-sref="upload" src="'/img/upload-arrow.svg'" alt="img_menu"></ng-include>
	</span>
</header>
<!--
<div class="topbar-margin"></div>
<section class="gallery-search">
	<input type="text" placeholder="{{'SEARCH' | translate }}" ng-model="Gallery.search">
	<div>
		<label>Order by</label>
		<select>
			<option value="Relevance"></option>
		</select>
	</div>
</section>-->
