.topbar {
	height: $topbarHeight;
	@extend %display-flex;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #e8e8e8;
	img {
		height: $topbarImgHeight;
	}
	img:first-child {
		margin-left: $cardMargin;
	}
	img:last-child {
		margin-right: $cardMargin;
	}
	@include desktop {
		img:first-child,
		img:last-child {
			display: none;
		}
		img {
			margin-left: $cardMargin;
		}
	}
}