.download-page {
	height: 100%;
	width: 100%;
	article {
		width: 100%;
		height: 100%;
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %justify-content-space-between;
		@extend %align-items-center;
		background-color: grey;
	}
}

.video-download-page {
	width: 100%;
}

.info-download-video {
	width: 96vw;
	margin: 2vw;
	background-color: white;
	height: 100%;
	@include border-radius(4px);
	@extend %display-flex;
	@extend %flex-direction-column;
	@extend %justify-content-space-around;
	@extend %align-items-center;
	& > div:first-child {
		height: 83%;
		width: 90%;
	}
	& > div:last-child {
		height: 8%;
	}
}

