<topbar></topbar>

<div ng-controller="VideoDownloadController as VideoDownload" class="download-page">

	<!-- Screen loading directive -->
	<div ng-if="!VideoDownload.video.data && VideoDownload.loading" class="loading">
		<loading></loading>
	</div>

	<div ng-if="VideoDownload.video.data.error && !VideoDownload.loading" class="headers-info-videoDownload">
		<h1 class="header">{{'ERROR_DOWNLOAD_VIDEO' | translate}}</h1>
		<div>
			{{'ERROR_DOWNLOAD_VIDEO_NOT_EXISTS' | translate}}
		</div>
	</div>

	<article ng-if="VideoDownload.video.data && !VideoDownload.video.data.error">
		<video controls ng-src="{{::VideoDownload.video.data.video}}" ng-attr-poster="{{::VideoDownload.video.data.poster || '/img/no-video.svg'}}" preload="metadata" controlsList="nodownload" class="video-download-page"></video>
		<section class="info-download-video">
			<div>
				<div class="headers-info-videoDownload">
					<h1 ng-bind="VideoDownload.video.data.title"></h1>
					<h2 ng-bind="VideoDownload.video.data.productType | productType"></h2>
					<div ng-bind="VideoDownload.video.data.description"></div>
				</div>
				<div ng-if="!VideoDownload.video.data.isVerified" class="videoDownload-isVerified">
					<img src="../../img/checked.svg" alt="video-verified" />
					<p>{{'VIDEO_VERIFIED' | translate}}</p>
				</div>
				<div class="download-video-code" ng-if="!VideoDownload.amIOwner()">
					<p>{{'DOWNLOAD_CODE' | translate}}</p>
					<div class="code-error" ng-if="VideoDownload.error" ng-bind="VideoDownload.error"></div><br/>
					<div ng-if="VideoDownload.loading" class="loading">{{'LOADING' | translate}}</div>
					<input type="text" ng-model="VideoDownload.code">
				</div>
				<div class="download-button align-center">
					<div class="video-detail-edit-info button" 
					ng-class="(VideoDownload.code || VideoDownload.amIOwner()) ? '' : 'disabled'" ng-click="VideoDownload.download()" target="_blank">
						<a>{{'DOWNLOAD_VIDEO' | translate}}</a>
					</div>
				</div>
				<div class="align-center">
					<div class="video-detail-edit-info button button-empty">
						<a ui-sref="gallery">{{'BACK_TO_GALLERY' | translate}}</a>
					</div>
				</div>
			</div>
		</section>
	</article>

</div>