<div ng-controller="VideoDownloadController as VideoDownload" class="download-page">

	<!-- Screen loading directive -->
	<div ng-if="!VideoDownload.video.data && VideoDownload.loading" class="loading">{{'LOADING' | translate}}</div>

	<div ng-if="VideoDownload.video.data.error && !VideoDownload.loading">Video erróneo</div>

	<article ng-if="VideoDownload.video.data && !VideoDownload.video.data.error">
		<video controls ng-src="{{::VideoDownload.video.data.video}}" ng-attr-poster="{{::VideoDownload.video.data.poster}}" preload="metadata" controlsList="nodownload" class="video-download-page"></video>
		<section class="info-download-video">
			<div>
				<div class="headers-info-videoDownload">
					<h1 ng-bind="VideoDownload.video.data.title"></h1>
					<h2 ng-bind="VideoDownload.video.data.productType"></h2>
					<div ng-bind="VideoDownload.video.data.description"></div>
				</div>
				<div ng-if="!VideoDownload.video.data.isVerified" class="videoDownload-isVerified">
					<img src="../../img/checked.svg" alt="video-verified" />
					<p>{{'VERIFIED' | translate}}</p>
				</div>
				<div class="download-video-code">
					<p>{{'DOWNLOAD_CODE' | translate}}</p>
					<div class="code-error" ng-if="VideoDownload.error" ng-bind="VideoDownload.error"></div>
					<div ng-if="VideoDownload.loading" class="loading">{{'LOADING' | translate}}</div>
					<input type="text" ng-model="VideoDownload.code">
				</div>
				<div class="videoDownload-button">
					<button ng-click="VideoDownload.download()" target="_blank">{{'DOWNLOAD_VIDEO' | translate}}</button>
				</div>
			</div>
			<div class="videoDownload-go-back-portrait">
					<a ui-sref="gallery">{{'BACK_TO_GALLERY' | translate}}</a>
			</div>
		</section>
	</article>
	<div class="videoDownload-back-landscape">
		<p>
			<a ui-sref="gallery">{{'BACK_TO_GALLERY' | translate}}</a>
		</p>
	</div>
</div>