<div ng-controller="VideoDownloadController as VideoDownload" class="download-page">				
	<div class="download-video-code" ng-if="!VideoDownload.amIOwner() && VideoDownload.$stateParams.autoDownload !== 'true'">
		<p>{{'DOWNLOAD_CODE' | translate}}</p>
		<div class="code-error" ng-if="VideoDownload.error" ng-bind="VideoDownload.error"></div><br/>
		<div ng-if="VideoDownload.loading" class="loading">{{'LOADING' | translate}}</div>
		<input id="download-code-input" type="text" ng-model="VideoDownload.code">
	</div>

	<div class="download-video-code" ng-if="VideoDownload.amIOwner() && VideoDownload.$stateParams.autoDownload !== 'true'">
		<div class="code-error" ng-if="VideoDownload.error" ng-bind="VideoDownload.error"></div><br/>
	</div>

	<div class="download-button align-center" ng-if="VideoDownload.amIOwner() && VideoDownload.$stateParams.autoDownload !== 'true'">
		<md-button type="submit" ng-disabed="!(VideoDownload.code || VideoDownload.amIOwner())" class="spinner-button md-raised md-primary cta" ng-click="VideoDownload.download()">
			<md-progress-circular ng-show="VideoDownload.loading" class="md-hue-3 md-inline" md-diameter="20px"></md-progress-circular>
			{{ 'DOWNLOAD_VIDEO' | translate }}
		</md-button>
	</div>
</div>
