.download-page {
	height: 100%;
	width: 100%;
	background-color: #f3f3f3;
	@extend %display-flex;
	@extend %flex-direction-column;
	article {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %justify-content-space-between;
		@extend %align-items-center;
		@include landscape {
			margin: 20px auto 0 auto;
			width: 96vw;
			background-color: white;
			flex-direction: row;
			align-items: flex-start;
			height: auto;
		}
	}
}

.video-download-page {
	width: 100%;
	@include landscape {
		width: 40%;
		margin: 20px 0 0 20px;
	}
}

.info-download-video {
	width: 96vw;
	margin: 2vw;
	background-color: white;
	height: 100%;
	@include border-radius(4px);
	@extend %display-flex;
	@extend %flex-direction-column;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	@include landscape {
		height: auto;
	}
	& > div:first-child {
		margin-top: 5vw;
		width: 90%;
		@include landscape {
			margin-top: 0;
		}
	}
	& > div:last-child {
		height: 8%;
		margin-bottom: 5vw;
		@include landscape {
			display: none;
		}
	}
}

.headers-info-videoDownload {
	h1 {
		font-weight: 500;
		font-size: 20px;
		color: #2b2b2b;
	}
	h4 {
		margin-top: 10px;
		color: #626262; 
	}
}

.videoDownload-isVerified {
	@extend %display-flex;
	@extend %align-items-center;
	margin-top: 17px;
	height: 40px;
	img {
		width: 32px;
	}
	p {
		color: #626262;
		font-size: 20px;
		margin-left: 5px;
	}
}

.download-video-code {
	margin-top: 30px;
	text-align: center;
	input {
		margin-top: 8px;
		width: 75%;
		max-width: 300px;
		height: 32px;
		background-color: #f3f3f3;
		@include border-radius(4px);
		padding-left: 10px;
	}
}

.videoDownload-button {
	width: 100%;
	text-align: center;
	button {
		color: white;
		background-color: #fac5c7;
		@include border-radius(4px);
		height: 32px;
		padding: 0 15px;
		margin-top: 30px;
		font-size: 15px;
	}
}

.videoDownload-go-back-portrait {
	color: grey;
	@include landscape {
		display: none;
	}
}

.videoDownload-back-landscape {
	color: grey;
	width: 96vw;
	max-width: 1200px;
	padding-bottom: 20px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	@include portrait {
		display: none;
	}
}
