a {
	color: $textDark;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.download-page {
	background-color: $background;
	min-height: calc(100% - 52px);
	margin-top: $topbarHeight;
	width: 100%;
	@extend %display-flex;
	@extend %flex-direction-column;
	article {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %justify-content-space-between;
		@extend %align-items-center;
		@include desktop {
			margin: 20px auto 0 auto;
			width: 96vw;
			background-color: white;
			flex-direction: row;
			align-items: flex-start;
			height: auto;
		}
	}

	.align-center {
		text-align: center;
		
		.video-detail-edit-info {
			display: inline-block;
			float: none;
			margin-top: 32px;
		}

	}
}

.video-download-page {
	width: 100%;
	@include desktop {
		width: 46%;
		margin: 20px 0 0 20px;
	}
	video, .video-player {
		width: 100%;
	}
}

.info-download-video {
	width: 96vw;
	margin: 2vw;
	background-color: $backgroundLight;
	height: 100%;
	@include border-radius(4px);
	@extend %display-flex;
	@extend %flex-direction-column;
	@extend %justify-content-space-between;
	@extend %align-items-center;
	@include desktop {
		height: auto;
		width: 50%;
	}
	& > div:first-child {
		margin-top: 5vw;
		width: 90%;
		@include desktop {
			margin-top: 0;
		}
	}
	& > div:last-child {
		height: 8%;
		margin-bottom: 5vw;
		@include desktop {
			display: none;
		}
	}
}

.headers-info-videoDownload {
	h1 {
		font-weight: 500;
		font-size: 24px;
		color: $textDark;
		@include desktop {
			font-size: 36px;
		}
	}
	h2 {
		color: $text; 
		font-size: 20px;
		margin: 10px 0;
		@include desktop {
			font-size: 20px;
		}
	}
}

.videoDownload-isVerified {
	@extend %display-flex;
	@extend %align-items-center;
	margin-top: 17px;
	height: 40px;
	img {
		width: 32px;
	}
	p {
		color: $text;
		font-size: 20px;
		margin-left: 8px;
	}
}

.download-video-code {
	margin-top: 30px;
	color: $grey;
	text-align: center;
	input {
		margin-top: 8px;
		width: 75%;
		max-width: 300px;
		height: 32px;
		background-color: #f3f3f3;
		@include border-radius(4px);
		padding-left: 10px;
	}
}

.videoDownload-button {
	cursor: pointer;
	text-align: center;
	width: 100%;
	button {
		color: white;
		background-color: $mainColor;
		@include border-radius(4px);
		height: 32px;
		padding: 0 15px;
		margin-top: 30px;
		font-size: 15px;
		@include desktop {
			background-color: $mainColor;
			font-size: 24px;
			height: 48px;    
		}
	}
	button.disabled {
		background-color: $mainColorDisabled;
	}
}

.download-button .button {
	@include desktop {
		line-height: 32px;
		font-size: 24px;
	}
}

.videoDownload-go-back-mobile {
	color: $grey;
	@include desktop {
		display: none;
	}
}

.videoDownload-back-desktop {
	color: $grey;
	width: 96vw;
	max-width: 1200px;
	padding-bottom: 20px;
	margin: 0 auto;
	background-color: white;
	@include mobile {
		display: none;
	}
	@include tablet {
		display: none;
	}
	p {
		width: 50%;
		text-align: center;
	}
}

.code-error {
	padding: 8px;
	display: inline-block;
	width: 50%;
	color: $error;
}
