<div class="profile-top-menu-floating md-2-line" role="listbox">
	<md-list-item class="profile-top-menu-item no-pointer" role="option">
		<div class="md-list-item-text" layout="column">
			Username<br>
			user@email.com
		</div>
	</md-list-item>
	<md-list-item class="profile-top-menu-item" role="option">
		<md-icon>person</md-icon>
		<span>Mis videos</span>
	</md-list-item>
	<md-list-item class="profile-top-menu-item" role="option">
		<md-icon>person</md-icon>
		<span>Logout</span>
	</md-list-item>
</div>