<div class="profile-top-menu-floating md-2-line" role="listbox">
	<md-list-item class="profile-top-menu-item no-pointer" role="option">
		<div class="md-list-item-text" layout="column">
			<span ng-bind="session.username"></span><br>
			<span ng-bind="session.email"></span>
		</div>
	</md-list-item>
	<md-list-item class="profile-top-menu-item" role="option" ui-sref="userGallery({userId: session.id})">
		<md-icon>person</md-icon>
		<span>Mis videos</span>
	</md-list-item>
	<md-list-item class="profile-top-menu-item" role="option" ng-click="session.logout()" ui-sref="gallery">
		<md-icon>person</md-icon>
		<span>Logout</span>
	</md-list-item>
</div>