<div class="video-player">
	<videogular ng-if="video" class="event-picture" vg-native-fullscreen="'true'" vg-theme="css/videogular.css" vg-error="onVgError()">
		<vg-media vg-src="video" vg-preload="none"></vg-media>
		<vg-poster vg-url="poster"></vg-poster>
		<vg-controls vg-autohide="true" ng-hide="error">
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<!-- <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display> -->
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>
		<!-- Hide the next directive in iOS to avoid the dual play button -->
		<vg-overlay-play ng-hide="error"></vg-overlay-play>
	</videogular>
</div>