<form>
	<h2>Usuario</h2>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Name</label>
		<input ng-model="user.firstName">
	</md-input-container>

	<h2>FTP</h2>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Host</label>
		<input ng-model="user.firstName">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Username</label>
		<input ng-model="user.firstName">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Password</label>
		<input ng-model="user.firstName">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Secure</label>
		<input ng-model="user.firstName">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Containig Folder A</label>
		<input ng-model="user.firstName">
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Contaninig Folder B</label>
		<input ng-model="user.firstName">
	</md-input-container>
</form>