.pricing-page {
  font-family: 'Raleway', sans-serif;
  div, span, h1, td, th {
    font-family: 'Raleway', sans-serif;
  }
  margin-top: $topbarHeight;
  background-color: $background;
  width: 100%;

  .page-title {
    padding: 40px;
    text-align: center;
    h1 {
      font-size: 36px;
      font-weight: 600;
      color: #303030;
    }
  }
}

md-content {
  color: $grey;
}

md-card-title-text span.md-headline, span.plan-price {
  color: #000;
  font-size: 2em;
  font-weight: bolder;
}

span.plan-currency {
  color: #000;
  margin-left: 5px;
  font-size: 0.8em;
  font-weight: bolder;
}

md-card-title-text span.md-subhead {
  color: $grey;
  height: 30px;
}

.plan-card {
  text-align: center;
  md-divider {
    margin: 8px;
  }

  button {
    padding: 2px 30px;
  }

  .feature-lines-container {
    text-align: left;
    line-height: 28px;
    .feature-line {
      display: flex;
      vertical-align: middle;
      justify-content: left;
      font-size: 0.8em;

      md-icon {
        font-size: 18px;
        display: inline;
        margin-top: 4px;
        margin-right: 4px;
      }

      span {
        display: block;
        width: 100%;
      }
    }
  }

  .more-info {
    font-size: 0.75em;
  }

  &:hover {
    box-shadow: 0px 2px 30px rgba(0,0,0,0.3);
    transform: scale(1.04);

    md-icon.plan-icon, md-card-title-text span.md-headline {
      color: $mainColor;
    }
  }
}

.pricing-page__features-preview {
  padding: 30px;
  color: $grey;
  .feature-desc {
    padding: 10px;
    .icon-holder {
    }
    i {
      font-size: 60px;
    }
    .feature-text {
      padding-left: 81px;
      .feature-title {
        padding: 0 0 16px 0;
        color: #303030;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        display: block;
      }
    }
  }
}

.pricing-page__pricing-table {
  table.md-table td.md-cell, table.md-table th.md-column {
    &.feature-value, &.plan-name {
      text-align: center;
    }
  }
  md-card-content {
    width: 100%;
  }
  .product-button-container {
    margin-bottom: 8px;
  }
  .product-button {
    display: inline;
    margin: 0;
    border: 1px solid $lightGrey;
    padding: 8px;
    text-align: center;
    &.product-selected {
      background-color: $background;
      color: #000;
      font-weight: 600;
    }
    @include mobile {
      padding: 8px 2px;
      font-size: 0.8em;
    }
  }
  .md-button {
      font-size: 0.75em;
  }
  md-icon.feature-hint {
    font-size: 1em;
    margin-top: 0.6em;
    margin-left: 0.2em;
  }
}
