/* COLORS */

/* Main Color */
$mainColor: #6b7ecc;
$mainColorLight: #6b7ecc;
$mainColorDark: #4a578e;
$mainColorDisabled: #6b7ecc;

/* Secondary Color */
$secondaryColor: #000000;
$secondaryColorLight: #000000;
$secondaryColorDark: #000000;
$secondaryColorDisabled: #000000;

/* Grey */
$grey: #5A6978;
$lightGrey: #B6B6B6;

/* Background Color */
$background: #f3f3f3;
$backgroundLight: #ffffff;
$backgroundDark: #cecece;

/* Text Color */
$text: #626262;
$textLight: #5A6978;
$textDark: #2b2b2b;

// Topbar
$topbarHeight: 52px; // Topbar base height
$topbarImgHeight: 30px;

// Card
$cardMargin: 13px;
$cardRadius: 5px;

/* Status Colors */
$success: #00ff00;
$error: #00ff00;
$info: #0000ff;
$warning: #00ffff;
