<div class="header-box-wrapper">
	<video no-controls autoplay="autoplay" src="/img/brand/header.mp4" muted></video>
	<div class="header-box">
		<h2>THE MOBILE JOURNALISM NEWS AGENCY</h2>
		<p>Ponemos en contacto a productores y consumidores de videonoticias.</p>

		<div class="header-actions">
			<md-button class="md-raised" ng-href="https://market4news.com/newshub/" target="_blank">¿Quieres comprar?</md-button>
			<md-button class="md-raised" ng-href="https://market4news.com/newshub/productor" target="_blank">¿Quieres vender?</md-button>
		</div>
	</div>
</div>