<md-card layout="column" class="video-edit-page__aditional-details">
	<div flex>
		<md-checkbox ng-model="Video.video.featured" ng-init="Video.video.featured=true">
			<span class="vertical-middle">
			Destacar <i class="material-icons feature-icon">star_rate</i>
			</span>
		</md-checkbox>
		<md-checkbox ng-model="Video.video.verified" ng-init="Video.video.verified=true">
			<span class="vertical-middle">
			Verificar <i class="material-icons verify-icon">check_circle</i>
			</span>
		</md-checkbox>
	</div>
	<div flex layout="row" layout-wrap>
		<div flex-gt-sm="50" flex="100" layout="column">
			<div>
				<md-input-container class="md-inline half-sized-input">
					<label>Credibilidad</label>
					<input ng-model="Video.video.credibility" type="number" min="0" max="5" step="1">
				</md-input-container>
				<md-input-container class="md-inline">
					<label>Calidad</label>
					<input ng-model="Video.video.quality" type="number" min="0" max="5" step="1">
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-inline half-sized-input">
					<label>Precio de emisión estándar</label>
					<input ng-model="Video.video.priceStd" type="number" min="0"  step="1">
				</md-input-container>
				<md-input-container class="md-inline half-sized-input">
					<label>Precio de antena en país</label>
					<input ng-model="Video.video.priceCountry" type="number" min="0"  step="1">
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-inline half-sized-input">
					<label>Precio de antena continental</label>
					<input ng-model="Video.video.priceContinent" type="number" min="0"  step="1">
				</md-input-container>
				<md-input-container class="md-inline half-sized-input">
					<label>Precio de antena mundial</label>
					<input ng-model="Video.video.priceWorld" type="number" min="0"  step="1">
				</md-input-container>
			</div>
		</div>
		<div flex-gt-sm="50" flex="100">
			<md-input-container class="md-block">
				<label>Idioma</label>
				<md-select ng-model="Video.video.language">
					<md-option ng-repeat="lang in Video.langs" value="{{lang.lang}}">
						{{ "VIDEO_LANG_" + lang.lang | translate}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Tipos de producto</label>
				<md-select ng-model="Video.video.productType">
					<md-option ng-repeat="productType in Video.productTypes" value="{{productType.name}}">
						{{productType.name}}
					</md-option>
				</md-select>
			</md-input-container>
			<!--<md-input-container class="md-block">-->
			<!--<label>Etiquetas</label>-->
			<md-chips
					ng-model="Video.tags"
					md-separator-keys="Video.tagsKeys"
					placeholder="Enter a tag"
					secondary-placeholder="Comma separated tags"></md-chips>
			<!--</md-input-container>-->
		</div>
	</div>
</md-card> <!-- // .aditional-details md-card -->
