<md-card layout-wrap="auto" class="video-player">
	<div flex layout="column">
		<div flex="auto">
			<video controls ng-src="{{EditCtrl.video.video}}" ng-attr-poster="{{EditCtrl.video.poster}}"
				   preload="metadata" controlsList="nodownload"></video>
		</div>
		<div layout="row" layout-margin="10" class="video-edit-page__thumbnails">

			<div class="center full-width">
				<div class="panoramic">
					<img ng-if="EditCtrl.video.poster" ng-src="{{EditCtrl.video.poster}}">
					<md-tooltip>{{ 'VIDEO_EDIT_THUMBNAIL_DEFAULT' | translate}}</md-tooltip>
				</div>
				<div class="panoramic">
					<div ng-if="!EditCtrl.newPoster" class="new-thumbnail-input" layout-fill layout-align="center center" >
						<div ngf-drop ngf-select ng-model="EditCtrl.newPoster" class="drop-box vertical-middle"
							 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
							 accept="image/*" ngf-pattern="'image/*'">
							<i class="material-icons">file_upload</i>
							<span hide-xs>{{ 'VIDEO_EDIT_THUMBNAIL_CUSTOM_HINT' | translate}}</span>
							<md-tooltip>{{ 'VIDEO_EDIT_THUMBNAIL_CUSTOM_HINT' | translate}}</md-tooltip>
						</div>
					</div>
					<div ng-if="EditCtrl.newPoster" class="new-thumbnail-preview">
						<i ng-if="EditCtrl.newPoster" ng-click="EditCtrl.resetVideoPoster()" class="material-icons remove-icon">remove_circle_outline</i>
						<img ngf-src="EditCtrl.newPoster"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</md-card> <!-- // .video-player md-card -->
