<md-card layout-wrap="auto" class="video-player">
	<div flex layout="column">
		<div flex="auto">
			<video controls ng-src="{{EditCtrl.video.video}}" ng-attr-poster="{{EditCtrl.video.poster}}"
				   preload="metadata" controlsList="nodownload"></video>
		</div>
		<div layout="row" layout-margin="10" class="video-edit-page__thumbnails">
			<div flex-gt-xs="10" flex="0"></div>
			<div flex-gt-xs="40" flex="50" layout="column">
				<div>{{ 'VIDEO_EDIT_THUMBNAIL_DEFAULT' | translate }}</div>
				<img ng-if="EditCtrl.video.poster" ng-src="{{EditCtrl.video.poster}}">
			</div>
			<div flex-gt-xs="40" flex="50" layout="column" class="custom-thumbnail">
				<div>
					{{ 'VIDEO_EDIT_THUMBNAIL_CUSTOM' | translate }}
				</div>
				<div ng-if="!EditCtrl.newPoster" class="new-thumbnail-input">
					<div ngf-drop ngf-select ng-model="EditCtrl.newPoster" class="drop-box vertical-middle"
						 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
						 accept="image/*"
						 ngf-pattern="'image/*'">
						<img class="upload-drop-icon" src="/img/upload-arrow.svg" alt="img_menu"><br/>
						<span hide-xs>{{ 'VIDEO_EDIT_THUMBNAIL_CUSTOM_HINT' | translate}}</span>
						<md-tooltip>{{ 'VIDEO_EDIT_THUMBNAIL_CUSTOM_HINT' | translate}}</md-tooltip>
					</div>
				</div>
				<div ng-if="EditCtrl.newPoster" class="new-thumbnail-preview">
					<i ng-if="EditCtrl.newPoster" ng-click="EditCtrl.resetVideoPoster()" class="material-icons">remove_circle_outline</i>
					<img ngf-src="EditCtrl.newPoster"></video>
				</div>
			</div>
			<div flex-gt-xs="10" flex="0"></div>
		</div>
	</div>
</md-card> <!-- // .video-player md-card -->
