<md-card layout="row" layout-wrap class="video-edit-page__video-file" layout-align="center center" >
	<div flex-gt-sm="20" flex="100">
		{{ 'VIDEO_EDIT_VIDEO_FILE' | translate }}
	</div>
	<div flex-gt-sm="40" flex-gt-xs="50" flex="100" class="custom-thumbnail" layout-align="center center" >
		<div ng-if="!EditCtrl.newFile" class="new-thumbnail-input">
			<div ngf-drop ngf-select ng-model="EditCtrl.newFile" class="drop-box"
				 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
				 accept="video/*" ngf-pattern="'video/*'">
				<i class="material-icons">file_upload</i><br/>
				{{ 'VIDEO_EDIT_VIDEO_FILE_HINT' | translate}}
				<md-tooltip>{{ 'VIDEO_EDIT_VIDEO_FILE_HINT' | translate}}</md-tooltip>
			</div>
		</div>
		<div ng-if="EditCtrl.newFile" class="new-video-preview">
			<i ng-click="EditCtrl.resetVideoFile()" class="material-icons">remove_circle_outline</i>
			<video ng-if="EditCtrl.newFile" controls ngf-src="EditCtrl.newFile"></video>
		</div>
	</div>
	<div flex-gt-sm="40" flex-gt-xs="50" flex="100" layout-align="center center" >
		<div ng-if="EditCtrl.maxVideoUploadSize" class="hint">{{ 'VIDEO_EDIT_VIDEO_FILE_MAX_SIZE' | translate }} {{ EditCtrl.maxVideoUploadSize }}Mb</div>

		<!--TODO(jliarte): place as fallback-->
		<!--<md-input-container>-->
			<!--<div>-->
				<!--<input type="file" accept="video/*" file-model="EditCtrl.newFile"/>-->
			<!--</div>-->
			<!--<div ng-if="EditCtrl.maxVideoUploadSize" class="hint">{{ 'VIDEO_EDIT_VIDEO_FILE_MAX_SIZE' | translate }} {{ EditCtrl.maxVideoUploadSize }}Mb</div>-->

			<!--&lt;!&ndash;<div ng-messages="userForm.social.$error" ng-if="!showHints">&ndash;&gt;-->
			<!--&lt;!&ndash;<div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--</md-input-container>-->
	</div>
</md-card> <!-- // .aditional-details md-card -->